*.iml
*.iml
.idea
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
/app/src/main/res/mipm*
/app/proguard-rules.pro
/app/src/androidTest
/app/src/test
/app/src/main/res/drawable*
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
